{% extends 'home/base.html'  %}
{% load static %}

{% block navigation %}
  {% if user.is_authenticated %}
    <div class='container'>
      <nav class='navbar navbar-expand-lg'>
      <div class='container-fluid'>
          <a class="navbar-brand" href="#">home icon</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">wishlist</a>
              </li>
              <li class="nav-item">
                <!-- image-->
                <a class="nav-link" href="#">{{ user.username }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login:logout' %}">logout</a>
              </li>  
            </ul>
      </div> 
      </nav>
    </div>
  {% else %}
    <div class='container'>
      <nav class='navbar navbar-expand-lg navbar-light bg-light'>
      <div class='container-fluid'>
          <a class="navbar-brand" href="#">home icon</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">wishlist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login:login' %}">Login</a>
              </li>  
            </ul>
      </div> 
      </nav>
    </div>
  {% endif %}

  
             
{% endblock %}

{% block grid_property %}
<!-- property listed display  grid layout first we need to manage how many files to be shoen in a row and
how many rows to be shown in grid layout  using django
-->
{% for  x in properties  %}
      <div class='row'>
        {% include 'home/property_card.html' with property=x %}
      </div>
    {% endfor %}

{% endblock %}

<!--  how to dynamically include images from database
      include static files
      bootstrap working
      icons for website
      create database individual models for each app
      make login / logout functionality
      home page layout grid vs flexbox
      responsive ness
      wishlist layout like homepage
      images data base one to one vs many to one.

      upload the project to github and start use of git for project

      add comments to all the part of code to easliy remember the what is done and to understand

      how to customize the bootstrap css and use javascritp of bootstap to notify the users etc.


-->