<!DOCTYPE html>
<html>
<head>
          <title>login</title>
          {% load bootstrap5 %}
          {% bootstrap_css %}
          {% bootstrap_javascript %}
</head>

          <body style='background-color:#f4f4f4; color=#08010e; '>
                    <section class='container' style='padding-bottom:1rem;'>
                              
                              <form action="{% url 'login:login' %}" method="post">
                                        {% csrf_token %}
                                        
                                        <div class='container mt-5' style='width:500px; border:2px solid #4f033d ; border-radius:10px ;padding :3rem; text-align:center '>
                                                  <!-- inline style to css file-->
                                                  <h1 class='mb-4'>Login</h1>

                                                  <div class="form-floating mb-3">
                                                            <input type="text" class="form-control" id="floatingInput" placeholder="Username" name='user'>
                                                            <label for="floatingInput">Username</label>
                                                  </div>

                                                  <div class="form-floating mb-3">
                                                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password'>
                                                            <label for="floatingPassword">Password</label>
                                                  </div>

                                                  <div class="mb-3" style='text-align:right;'>
                                                  <a href="{% url 'login:login' %}" style='color:#4f033d; text-decoration:none;' class='btn'>forget password?</a>
                                                  </div>
                                                  
                                                  
                                                  <input type="submit" class="btn " style='background-color:#4f033d ; color:#f4f4f4;' value='Login'>
                                                  <a href="{% url 'login:signup' %}" class="btn " style='background-color:#4f033d ; color:#f4f4f4;'>Signup</a>
                                        </div>
                              </form>
                    </section>
          </body>
</html>